* {
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Lato', sans-serif;
    color: #FAF9F9;
}

.main {
    background: linear-gradient(180deg, #0C4C7B -100%, #1E2F40 100%);
}

.container {
    max-width: 1180px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}
h1 {
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 800;
    font-size: 120px;
    line-height: 140px;
    text-transform: uppercase;
    margin: 10px 0 40px;
}

h1 span {
    font-family: 'Nunito Sans', sans-serif;
    font-weight: bold;
    font-size: 30px;
    line-height: 38px;
    text-transform: uppercase;
    color: #FBB731;
    display: block;
}

.text p {
    font-weight: normal;
    font-size: 19px;
    line-height: 140%;
    color: #DEDEDE;
    margin-bottom: 42px;
}

.main a, .promo a {
    font-weight: bold;
    font-size: 14px;
    line-height: 18px;
    text-align: center;
    text-transform: uppercase;
    color: #1E2F40;
    background: #FBB731;
    border-radius: 5px;
    padding: 20px 45px;
    text-decoration: none;
    display: inline-block;
}

.main a:hover, .promo a:hover {
    background: #F58135;
    color: #DEDEDE;
}

.main img {
    width: 829px;
    position: absolute;
    right: -168px;
}

.text {
    max-width: 580px;
    padding: 170px 0;
}

.visual {
    flex-grow: 1;
    display: flex;
    justify-content: flex-end;
    position: relative;
}

.bg {
    width: 432px;
    height: 100%;
    background: linear-gradient(2.42deg, #F37335 -19.6%, #FBB731 100.79%, #FDC830 100.79%);
}

.promo {
    padding: 186px 0;
}

.promo-left, .promo-right {
    flex: 0 0 49%;
    box-sizing: border-box;
}

.promo-left {
    background: url(../img/menu\ 1.png);
    padding: 116px 50px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.sale {
    font-family: Nunito Sans;
    font-weight: 900;
    font-size: 14px;
    line-height: 18px;
    text-transform: uppercase;
    color: #FFFFFF;
    background: #F37335;
    border-radius: 14px;
    padding: 5px 18px;
    display: inline-block;
}

.cost {
    font-family: Nunito Sans;
    font-weight: 900;
    font-size: 60px;
    line-height: 76px;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-top: 5px;
    margin-bottom: 8px;
}

.description {
    font-weight: normal;
    font-size: 15px;
    line-height: 24px;
    color: #FAF9F9;
}

.promo-left .description {
    max-width: 390px;
}

.promo-right .description {
    max-width: 300px;
    margin-bottom: 20px;
}

.promo-right {
    background: url(../img/menu\ 2.png);
    padding: 102px 50px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.free {
    font-family: Nunito Sans;
    font-weight: 700;
    font-size: 44px;
    line-height: 56px;
    color: #FFFFFF;
    margin-bottom: 10px;
}

.footer {
    background: #1E2F40;
    color: #FFFFFF;
    padding-top: 117px;
    padding-bottom: 106px;
}

.logo {
    width: 63px;
    height: 56px;
    cursor: pointer;
}

.item {
    flex: 0 0 auto;
}

.item h2 {
    font-family: 'Nunito Sans', sans-serif;
    font-size: 20px;
    font-weight: 800;
    text-transform: uppercase;
    padding-bottom: 12px;
}

.item ul,
.tel ul {
    list-style-type: none;
}

.footer-item {
    cursor: pointer;
}

.footer-item:hover {
    text-decoration: underline;
} 

.item li {
    margin-bottom: 9px;
    font-family: 'Lato', sans-serif;
    font-size: 15px;
    line-height: 24px;
    font-weight: 700;
    color: #FAF9F9;
}

.item a {
    color: #DEDEDE;
    text-decoration: none;
    font-weight: 400;
}

.item span {
    color: #DEDEDE;
    display: block;
    font-size: 15px;
    font-weight: 400;
    margin-bottom: 2px;
}

.tel ul {
    font-family: Nunito Sans;
    font-weight: 800;
    font-size: 20px;
    color: #FBB731;
    margin-bottom: 12px;
    line-height: 38px;
}
